	/* Page en général */
@font-face {
font-family: 'Lato-regular';
src: url('fonts/lato/lato-regular.ttf');
}

@font-face {
font-family: 'Lato-light';
src: url('fonts/lato/lato-light.ttf');
}

html {
    font-size: 62.5%; /* Ré-équilibrage du Rem face au Pixel pour des calculs simples */
}

body {
	font-family: "Lato-regular","Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	color: #666666;
	background-color: #EBEADC;
	margin: 0;
}

		/* HEADER */
		/* Header - Général*/
#wrap-header{
	width: 98%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	font-size: 1.4rem;
}

#wrap-header *{
	margin:0;
}

#wrap-header ul{list-style: none;}

#wrap-header li{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

		/* HEADER */
		/* Header - Barre d'accessibilité */
#menu-tools{
	height: 38px;
	line-height: 38px;	/* permet de centrer le texte en hauteur */
	background-color: #CAC7BE;
	text-align: right;
}

		/* HEADER */
		/* Header - Barre de menu */
#menu-main{
	height: 38px;
	line-height: 38px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
}

#menu-main nav{
	margin-left: 140px;
}

#menu-main-search{
	padding-right: 10px;
}

		/* HEADER */
		/* Header - Logo */
#menu-logo{
	display: block;
	height: 179px;
	max-width: 117px;
	position: absolute;
	top: 0;
	z-index: 10;
}

		/* HEADER */
		/* Header - Caroussel */
#header-caroussel { /* peut-être inutile */
  width: 100%;
  position: relative;
  margin: auto;
}

#wrap-header .bannieres{
	display: none;
}

#wrap-header .prev, #wrap-header .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 14px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

#wrap-header .next{
	right: 0;
	border-radius: 3px 0 0 3px;
}

#wrap-header .prev:hover, #wrap-header .next:hover{
	background-color: rgba(0,0,0,0.8);
}

.legende-caroussel {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 2px;
  right: 0px;
}

/* The dots/bullets/indicators */
.caroussel-dots

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}